* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1080px;
}

header {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid #ff8800;
    border-bottom: 1px solid rgba(128, 128, 128, 0.538);
    position: relative;
}

header .logo {
    min-width: 16vw;
    height: 65px;
    padding: 0 20px;
}

header .logo img {
    height: 65px;
}

header .search {
    display: flex;
    min-width: max-content;
    height: 65px;
    align-items: center;
}

header .search input {
    min-width: 30vw;
    height: 36px;
    font-size: 1.1em;
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.803);
    padding-left: 4px;
}

header .search input:focus {
    background-color: rgba(255, 192, 203, 0.567);
}

header .search img {
    display: block;
    height: 36px;
    margin-left: 5px;
    cursor: pointer;
}

header .nav {
    flex: 1;
    min-width: min-content;
    position: absolute;
    right: 0;
    display: flex;
    height: 65px;
    align-items: center;
}

header .nav .same_box1 {
    display: flex;
    align-items: center;
    padding: 5px 6px;
    margin-right: 24px;
    cursor: pointer;
}

header .nav .same_box1:first-child {
    border-bottom: 3.2px solid #48ff60;
    cursor: auto;
    color: rgb(251, 67, 67);
    font-weight: bolder;
}

header .nav .box2 {
    margin-left: 10px;
}

header .nav img {
    height: 28px;
    margin-right: 5px;
}

header .nav .same_box1:active {
    font-style: italic;
    color: lightpink;
}

header .nav .same_box1:first-child:active {
    font-style: normal;
    color: rgb(251, 67, 67);
}

main {
    margin-top: 20px;
    display: flex;
}

main aside {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

main aside span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 18px;
    padding: 8px 1px;
    margin-bottom: 12px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

main aside span:first-child {
    background-color: rgb(252, 68, 50);
    color: #fff;
    cursor: auto;
}

main aside span:hover {
    background-color: rgb(252, 68, 50);
    color: #fff;
    font-style: italic;
}

main aside span:first-child:hover {
    font-style: normal;
}

main aside span:active {
    color: #a9ff7f;
}

main aside span:first-child:active {
    color: #fff;
}

main .center {
    flex: 7;
    background-color: #fff;
}

main .center .top_pic {
    width: 97.5%;
    height: 362px;
    background-image: url(../images/gg2.jpg);
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

main .center .top_pic .bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 20px;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: auto;
}

main .center .top_pic .bar .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 94, 94, 0.619);
    cursor: pointer;
}

main .center .top_pic .bar .dot:first-child {
    background-color: #c4fc55a4;
}

main .center .same_box {
    display: flex;
    align-items: center;
    width: 97.5%;
    padding-bottom: 6px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.538);
    position: relative;
}

main .center .same_box img {
    width: 48%;
    cursor: pointer;
}

main .center .same_box .content {
    position: absolute;
    right: 0;
    width: 49%;
}

main .center .same_box p {
    text-indent: 32px;
}

main .center .same_box span {
    color: rgb(108, 105, 105);
}

main .right {
    flex: 3;
    background-color: #f2f2f5;
}

main .right .top_login {
    width: 94%;
    margin: 28px auto;
    background-color: #fff;
    padding-bottom: 20px;
}

main .right .top_login h3 {
    line-height: 60px;
    padding-left: 40px;
    font-weight: normal;
    margin-bottom: 4px;
}

main .right .top_login .line {
    width: 90%;
    height: 8px;
    margin: 0 auto;
    background-image: url(../images/line.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main .right .top_login form {
    display: block;
    width: 94%;
    margin: 0 auto;
}

main .right .top_login input[type="text"],
input[type="password"] {
    display: block;
    width: 88%;
    height: 32px;
    font-size: 17px;
    border: 1.5px solid #3d3a3a;
    border-radius: 2px;
    margin-top: 20px;
    padding-left: 4px;
    margin-left: 2%;
}

main .right .top_login input[type="text"]:focus,
input[type="password"]:focus {
    background-color: rgba(255, 192, 203, 0.567);
}

main .right .top_login .bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

main .right .top_login .bar input {
    margin-left: 2%;
}

main .right .top_login .bar .jzw {
    padding-left: 5px;
}

main .right .top_login .bar .wjmm {
    position: absolute;
    right: 4%;
    cursor: pointer;
}

main .right .top_login .bar .wjmm:active {
    color: indianred;
}

main .right .top_login img {
    display: block;
    width: 99%;
    height: 42px;
    margin-top: 20px;
    padding-left: 4px;
    border-radius: 5px;
    cursor: pointer;
}

main .right .top_login .wxts {
    display: block;
    padding-left: 5px;
    margin-top: 25px;
    cursor: pointer;
}

main .right .top_login .wxts:active {
    color: #5cdae1;
}

main .right .wbxxs {
    width: 94%;
    margin: -8px auto;
}

main .right .wbxxs .top {
    background-color: #fff;
    border-top: 2px solid #fe7e39;
}

main .right .wbxxs .top h3 {
    margin-left: 20px;
    line-height: 58px;
    font-size: 17px;
}

main .right .same_box {
    display: flex;
    width: 94%;
    margin: 22px auto;
}

main .right .same_box .left {
    display: block;
    flex: 3;
    position: relative;
}

main .right .same_box .left .title {
    position: absolute;
    top: 4px;
    cursor: pointer;
}

main .right .same_box .left .title:active {
    color: #c9b97b;
}

main .right .same_box .left .time {
    position: absolute;
    bottom: 4px;
    font-size: 13px;
    color: #a49699;
}

main .right .same_box .right {
    flex: 2;
}

main .right .same_box .right img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}